[ng\\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak,
.ng-hide:not(.ng-hide-animate) {
    display: none !important;
}

body {
    text-align: left;
}

main {
    position: relative;
    left: 20px;
}

th {
    cursor: pointer;
    background-color: #F7F3F9;
    /*text-align: left;*/
}

th,
td {
    /*padding: 2px 13px 2px 0;*/
    /*min-width: 150px*/
}

.clickable {
    cursor: pointer;
}
