[ng\\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak,
.ng-hide:not(.ng-hide-animate)
{
	display:none !important;
}

body {
	text-align: left;
}

th {
	cursor: pointer;
}

th, td {
	min-width: 100px
}